@charset "UTF-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*, *::before, *::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

button, input, textarea, select, option {
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  outline: 0;
  overflow: hidden;
  border: none;
  background-color: transparent;
}

html, body {
  height: 100%;
  min-width: 320px;
  background-color: #f8f0fb;
  scroll-behavior: smooth;
  accent-color: #8075ff;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-weight: 300;
  color: #211a1d;
  font-family: "Roboto", sans-serif;
}
body.scroll-lock {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

textarea {
  resize: vertical;
}

textarea::-webkit-resizer {
  display: none; /* скрывает полоски в веб-кит браузерах */
}

.wrapper {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 30px auto;
}

[class*=__container] {
  max-width: 1440px;
  padding-left: clamp(1rem, 6vw - 2rem, 6rem);
  padding-right: clamp(1rem, 6vw - 2rem, 6rem);
  margin: 0 auto;
}

[class*=category] {
  position: relative;
  display: inline-flex;
  align-items: center;
  line-height: 120%;
}
[class*=category]::before {
  content: "";
  position: relative;
  background-color: #cad4ca;
  width: 15px;
  height: 0.8lh;
  border-radius: 3px;
  margin-right: 10px;
  border-left: 3px solid #a1a1a1;
}

[class*=category--personal]::before {
  content: "";
  background-color: #f5ea8c;
  border-left: 3px solid #e7c321;
}

/* .sidepanel__item--category--family */
[class*=category--family]::before {
  content: "";
  background-color: #cce7c3;
  border-left: 3px solid #42e721;
}

/* .sidepanel__item--category--work */
[class*=category--work]::before {
  content: "";
  background-color: #ee9d92;
  border-left: 3px solid #db205e;
}

.title {
  max-width: 100%;
  white-space: wrap;
  font-size: clamp(2.8rem, 10vw - 2rem, 48px);
  line-height: 100%;
  position: relative;
}

.subtitle {
  position: relative;
  display: inline-block;
}
.subtitle p {
  letter-spacing: 1.12px;
}

.btn {
  display: inline-block;
  border-radius: 10px;
  padding: 5px clamp(5px, 6vw - 2rem, 10px);
  background-color: #8075ff;
  color: white;
  text-align: center;
  cursor: pointer;
}
.btn span {
  white-space: nowrap;
  font-size: 1.6rem;
  line-height: 149%;
  position: relative;
}
.btn:hover {
  background-color: #8075ff;
}

.header {
  grid-column: 1/-1;
  /* .header__container */
  /* .header__burger */
  /* .header__title */
}
.header__container {
  max-width: none;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__burger {
  display: block;
  position: relative;
  width: 20px;
  height: 14px;
  z-index: 3;
  left: 0px;
}
.header__burger:before, .header__burger:after, .header__burger span {
  content: "";
  background-color: rgba(55, 53, 47, 0.85);
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transition: all 0.3s ease 0s;
}
.header__burger:before {
  top: 0;
}
.header__burger:after {
  bottom: 0;
}
.header__burger span {
  top: 6px;
}
.header__burger.active:before {
  transform: rotate(45deg);
  top: 9px;
}
.header__burger.active:after {
  transform: rotate(-45deg);
  bottom: 9px;
}
.header__burger.active span {
  transform: scale(0);
}
.sidepanel {
  grid-column: 1/2;
  padding: 30px 10px;
  /* .sidepanel__nav */
  /* .sidepanel__priorities */
  /* .sidepanel__item */
  /* .sidepanel__item--active */
  /* .sidepanel__item */
  /* .sidepanel__item--category */
  /* .sidepanel__item--category--personal */
  /* .sidepanel__item--category--family */
  /* .sidepanel__item--category--work */
  /* .sidepanel__projects */
  /* .sidepanel__notes */
}
.sidepanel__nav:not(:last-child) {
  margin-bottom: 10px;
}
.sidepanel__filter {
  display: grid;
  align-items: center;
}
.sidepanel__item--category {
  position: relative;
  display: inline-flex;
  align-items: center;
  line-height: 120%;
}
.sidepanel__item--category::before {
  content: "";
  position: relative;
  background-color: #cad4ca;
  width: 15px;
  height: 0.8lh;
  border-radius: 3px;
  margin-right: 10px;
  border-left: 3px solid #a1a1a1;
}
.sidepanel__item--category--personal::before {
  content: "";
  background-color: #f5ea8c;
  border-left: 3px solid #e7c321;
}
.sidepanel__item--category--family::before {
  content: "";
  background-color: #cce7c3;
  border-left: 3px solid #42e721;
}
.sidepanel__item--category--work::before {
  content: "";
  background-color: #ee9d92;
  border-left: 3px solid #db205e;
}
.page {
  position: relative;
  /* .page__container */
  /* .page__title */
  /* .page__inner */
  /* .page__list */
  /* .page__todo-item */
}
.page__container {
  max-width: 90ch;
}
.page__todo-item {
  display: grid;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7176470588);
  padding: 10px;
  border-radius: 5px;
  /* .page__todo-item--active */
}
.page__todo-item:not(:last-child) {
  margin-bottom: 10px;
}
.page__todo-item textarea {
  height: 1lh;
}
.page__todo-item--active {
  grid-template-rows: 1fr 1fr 1fr;
}
.page__widget {
  position: absolute;
  right: 5%;
  bottom: 5%;
  font-size: 24px;
}

.todo-item {
  /* .todo-item__title */
  /* .todo-item__description */
  /* .todo-item__calendar */
  /* .todo-item__category */
  /* .todo-item__project */
  /* .todo-item__importance */
  /* .todo-item__save */
}
.todo-item__title {
  grid-column: 1/6;
}
.todo-item__description {
  grid-column: 1/6;
}
.todo-item__calendar {
  grid-row: 3/4;
}
.todo-item__category {
  grid-row: 3/4;
}
.todo-item__project {
  grid-row: 3/4;
  font-weight: 300;
}
.todo-item__importance {
  grid-row: 3/4;
}
.todo-item__save {
  grid-row: 3/4;
}
.todo-item__delete {
  grid-row: 3/4;
}