@charset "UTF-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*, *::before, *::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

button, input, textarea, select, option {
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  outline: 0;
  overflow: hidden;
  border: none;
  background-color: transparent;
}

html, body {
  height: 100%;
  min-width: 320px;
  background-color: #f8f0fb;
  scroll-behavior: smooth;
  accent-color: #8075ff;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-weight: 300;
  color: #211a1d;
  font-family: "Roboto", sans-serif;
}
body.scroll-lock {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

textarea {
  resize: vertical;
}

textarea::-webkit-resizer {
  display: none; /* скрывает полоски в веб-кит браузерах */
}

.wrapper {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 0px auto;
  grid-template-rows: 30px auto;
}
.wrapper--sidepanel-active {
  grid-template-columns: fit-content(150px) auto;
}
@media (max-width: 600px) {
  .wrapper--sidepanel-active {
    grid-template-columns: 0px auto;
  }
}

[class*=__container] {
  max-width: 1440px;
  padding-left: clamp(1rem, 6vw - 2rem, 6rem);
  padding-right: clamp(1rem, 6vw - 2rem, 6rem);
  margin: 0 auto;
}

[class*=category] {
  position: relative;
  display: inline-flex;
  align-items: center;
  line-height: 120%;
}
[class*=category]::before {
  content: "";
  position: relative;
  background-color: #cad4ca;
  width: 15px;
  height: 0.8lh;
  border-radius: 3px;
  margin-right: 10px;
  border-left: 3px solid #a1a1a1;
}

[class*=category--personal]::before {
  content: "";
  background-color: #f5ea8c;
  border-left: 3px solid #e7c321;
}

/* .sidepanel__item--category--family */
[class*=category--family]::before {
  content: "";
  background-color: #cce7c3;
  border-left: 3px solid #42e721;
}

/* .sidepanel__item--category--work */
[class*=category--work]::before {
  content: "";
  background-color: #ee9d92;
  border-left: 3px solid #db205e;
}

.title {
  max-width: 100%;
  white-space: wrap;
  font-size: clamp(2.8rem, 10vw - 2rem, 48px);
  line-height: 100%;
  position: relative;
}

.subtitle {
  position: relative;
  display: inline-block;
}
.subtitle p {
  letter-spacing: 1.12px;
}

.btn {
  display: inline-block;
  border-radius: 10px;
  padding: 5px clamp(5px, 6vw - 2rem, 10px);
  background-color: #8075ff;
  color: white;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
}
.btn span {
  white-space: nowrap;
  font-size: 1.6rem;
  line-height: 149%;
  position: relative;
}
.btn--grey {
  background-color: #cad4ca;
}

.header {
  grid-column: 1/-1;
  /* .header__container */
  /* .header__burger */
  /* .header__title */
}
.header__container {
  max-width: none;
  padding: 5px 10px;
}
.header__panel {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.header__burger {
  display: block;
  position: relative;
  width: 20px;
  height: 14px;
  z-index: 3;
  left: 0px;
}
.header__burger:before, .header__burger:after, .header__burger span {
  content: "";
  background-color: rgba(55, 53, 47, 0.85);
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transition: all 0.3s ease 0s;
}
.header__burger:before {
  top: 0;
}
.header__burger:after {
  bottom: 0;
}
.header__burger span {
  top: 6px;
}
.header__burger--active:before {
  transform: rotate(45deg);
  top: 6px;
}
.header__burger--active:after {
  transform: rotate(-45deg);
  bottom: 6px;
}
.header__burger--active span {
  transform: scale(0);
}
.sidepanel {
  width: -moz-fit-content;
  width: fit-content;
  max-width: 165px;
  grid-column: 1/2;
  padding: 30px 10px;
  text-wrap: nowrap;
  z-index: 10;
  top: 30px;
  background-color: #f8f0fb;
  transform: translateX(-100%);
  transition: all 0.3s ease 0s;
  overflow: hidden;
  /* .sidepanel__nav */
  /* .sidepanel__priorities */
  /* .sidepanel__item */
  /* .sidepanel__item--active */
  /* .sidepanel__item */
  /* .sidepanel__item--category */
  /* .sidepanel__item--category--personal */
  /* .sidepanel__item--category--family */
  /* .sidepanel__item--category--work */
  /* .sidepanel__projects */
  /* .sidepanel__notes */
}
@media (max-width: 479.98px) {
  .sidepanel {
    width: 100%;
    max-width: unset;
  }
}
.sidepanel--active {
  width: -moz-fit-content;
  width: fit-content;
  transform: translateX(0);
}
@media (max-width: 479.98px) {
  .sidepanel--active {
    width: 100vw;
  }
}
.sidepanel__nav:not(:last-child) {
  margin-bottom: 10px;
}
.sidepanel__nav a:hover {
  font-weight: 400;
}
.sidepanel__filter {
  display: grid;
  align-items: center;
}
.sidepanel__item {
  text-overflow: ellipsis;
}
.sidepanel__item {
  overflow: hidden;
  text-overflow: ellipsis;
}
.sidepanel__item--category {
  position: relative;
  display: inline-flex;
  align-items: center;
  line-height: 120%;
}
.sidepanel__item--category::before {
  content: "";
  position: relative;
  background-color: #cad4ca;
  width: 15px;
  height: 0.8lh;
  border-radius: 3px;
  margin-right: 10px;
  border-left: 3px solid #a1a1a1;
}
.sidepanel__item--category--personal::before {
  content: "";
  background-color: #f5ea8c;
  border-left: 3px solid #e7c321;
}
.sidepanel__item--category--family::before {
  content: "";
  background-color: #cce7c3;
  border-left: 3px solid #42e721;
}
.sidepanel__item--category--work::before {
  content: "";
  background-color: #ee9d92;
  border-left: 3px solid #db205e;
}
.page {
  position: relative;
  grid-column: 2/-1;
  /* .page__container */
  /* .page__title */
  /* .page__inner */
  /* .page__list */
  /* .page__todo-item */
}
.page__container {
  max-width: 90ch;
  margin-top: 5%;
  margin-bottom: 40px;
}
.page__todo-item {
  display: grid;
  grid-template-columns: 20px 1fr 1fr 1fr;
  grid-template-rows: min-content min-content min-content;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7176470588);
  padding: 10px;
  border-radius: 5px;
  gap: 5px;
  transition: all 0.4s ease;
  cursor: pointer;
  /* .page__todo-item--active */
}
.page__todo-item:not(:last-child) {
  margin-bottom: 10px;
}
.page__todo-item:hover {
  box-shadow: 0px 0px 3px 2px #cad4ca;
}
.page__widget {
  position: fixed;
  right: clamp(20px, 4vw, 50px);
  bottom: clamp(20px, 4vw, 50px);
  font-size: 28px;
  line-height: 1;
}

.widget {
  /* .widget__button */
}
.widget__button {
  height: 40px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-item {
  /* .todo-item__title */
  /* .todo-item__description */
  /* .todo-item__calendar */
  /* .todo-item__category */
  /* .todo-item__project */
  /* .todo-item__importance */
  /* .todo-item__save */
}
.todo-item__done {
  grid-column: 1/2;
  grid-row: 1/2;
  height: 14px;
  width: 14px;
  border: 2px solid #b3acff;
  border-radius: 4px;
  justify-self: center;
}
.todo-item__title {
  grid-row: 1/2;
  grid-column: 2/-1;
  height: 1lh;
}
.todo-item__description {
  grid-column: 2/-1;
  grid-row: 2/3;
  height: 1lh;
  font-weight: 300;
}
.todo-item__panel {
  grid-column: 2/-1;
  grid-row: 3/4;
  display: flex;
  justify-content: flex-end;
  gap: clamp(10px, 4vw - 2rem, 20px);
  align-items: center;
  flex-wrap: wrap;
}
.todo-item__project select, .todo-item__project option {
  font-weight: 300;
  max-width: 153px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.todo-item__importance {
  grid-row: 3/4;
  grid-column: 1/2;
  justify-self: center;
}
.todo-item__blanket {
  width: 63.34px;
}
.fa-exclamation {
  cursor: pointer;
}
.fa-exclamation::before {
  color: #f0eeff;
}
.fa-exclamation--important::before, .fa-exclamation:hover::before {
  color: #db205e;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(33, 26, 29, 0.3);
}
.popup__block {
  position: absolute;
  padding: 20px 20px;
  text-align: center;
  z-index: 50;
  top: 50%;
  left: 50%;
  height: -moz-min-content;
  height: min-content;
  width: -moz-min-content;
  width: min-content;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 2px #cad4ca;
  background-color: #f8f0fb;
  transform: translate(-50%, -50%);
}
.popup__text {
  margin-bottom: 30px;
}
.popup__choose {
  display: flex;
  gap: 20px;
}